
   .banner .swiper {
    width: 240px;
    height: 320px;
}

.banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-size: cover;
    background-position: center;
}

/* Apply background images for each slide */
.banner .swiper-slide:nth-child(1) {
    background-image: url('src/Assets/book1.png');
}

.banner .swiper-slide:nth-child(2) {
    background-image: url('src/Assets/book2.png');
}

.banner .swiper-slide:nth-child(3) {
    background-image: url('src/Assets/book3.png');
}

.banner .swiper-slide:nth-child(4) {
    background-image: url('src/Assets/book4.png');
}

.banner .swiper-slide:nth-child(5) {
    background-image: url('src/Assets/book5.png');
}

.banner .swiper-slide:nth-child(6) {
    background-color: rgb(180, 10, 47);
}
